div.tm-container{
    display: flex;
    flex-direction: column;

    display: -ms-flexbox;
    -ms-flex-direction: column;

    border:1px solid #ccc;
    background-color:#F0F0F0;
    overflow:hidden;
}
div.tm-container *{
    box-sizing: border-box;
}
div.tm-head-wrap{
    overflow:hidden;
    background-color:#f0f0f0;
    z-index:100;

}
div.tm-body-wrap{
    flex:1;
    -ms-flex:1;
    overflow:auto;
    background-color:white;
    z-index:99;

}
div.tm-foot-wrap{
    overflow-x: auto;
    overflow-y: hidden;
    background-color:#f0f0f0;
    z-index:100;
}
table.tm-head{

    border-style:hidden;
    border-bottom:1px solid #ccc;
}
table.tm-body{
    min-width: 100%;
    border-style:hidden;
}
table.tm-foot{
    border-style:hidden;
    border-top:1px solid #ccc;
}
table.tm-head thead tr > *, table.tm-body thead tr > *, table.tm-foot tfoot tr > *  {
    position:relative;
}
table.tm-foot tfoot tr > * {
    border-bottom:none;
}

/* sorter */
div.tm-sorter .sortable{
    padding-right:15px !important;
    cursor:pointer;
    background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMy4yMDJsMy44MzkgNC43OThoLTcuNjc4bDMuODM5LTQuNzk4em0wLTMuMjAybC04IDEwaDE2bC04LTEwem0zLjgzOSAxNmwtMy44MzkgNC43OTgtMy44MzktNC43OThoNy42Nzh6bTQuMTYxLTJoLTE2bDggMTAgOC0xMHoiLz48L3N2Zz4=");
    background-repeat:no-repeat;
    background-position:center right;
    background-size:14px;
}
div.tm-sorter .sortable:hover{
    background-color:#6c9dc6;
}
div.tm-sorter .sortable.sort-up{
    background-color:#6c9dc6;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMGwtOCAxMGgxNmwtOC0xMHptMy44MzkgMTZsLTMuODM5IDQuNzk4LTMuODM5LTQuNzk4aDcuNjc4em00LjE2MS0yaC0xNmw4IDEwIDgtMTB6Ii8+PC9zdmc+");
}
div.tm-sorter .sortable.sort-down{
    background-color:#6c9dc6;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMy4yMDJsMy44MzkgNC43OThoLTcuNjc4bDMuODM5LTQuNzk4em0wLTMuMjAybC04IDEwaDE2bC04LTEwem04IDE0aC0xNmw4IDEwIDgtMTB6Ii8+PC9zdmc+");
}
