div.tm-container{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    border:1px solid #ccc;
    background-color:#F0F0F0;
    overflow:hidden;
}
div.tm-container *{
    box-sizing: border-box;
}
div.tm-head-wrap{
    overflow:hidden;
    background-color:#f0f0f0;
    z-index:1;
    
}
div.tm-body-wrap{
    -ms-flex:1;
    flex:1;
    overflow-x:auto;
    overflow-y:scroll;
    background-color:white;
    z-index:0;

}
div.tm-foot-wrap{
    overflow-x: auto;
    overflow-y: hidden;
    background-color:#f0f0f0;
    z-index:1;
    -webkit-box-shadow: 0px -3px 4px -3px rgba(0,0,0,0.75);
-moz-box-shadow: 0px -3px 4px -3px rgba(0,0,0,0.75);
box-shadow: 0px -3px 4px -3px rgba(0,0,0,0.75);
}
table.tm-head{
    border-style:hidden;
    border-bottom:1px solid #ccc;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                 not supported by any browser */
}
table.tm-body{
    min-width: 100%;
    border-style:hidden;
}

div.tm-fixed table.tm-body tfoot td {
    padding-top:0 !important;
    padding-bottom:0 !important;
    position:relative;
}
div.tm-fixed table.tm-body tfoot td div {
    position: absolute;
    overflow: hidden;
    top:0;
    left:0;
    bottom:0;
    right:0;

}



table.tm-foot{
    border-style:hidden;
    border-top:1px solid #ccc;
}
table.tm-head thead tr > *, table.tm-body thead tr > *, table.tm-foot tfoot tr > *  {
    position:relative;
}
table.tm-foot tfoot tr > * {
    border-bottom:none;
}

/* sorter */
div.tm-sorter .sortable{
    padding-right:15px !important;
    cursor:pointer;
    background-image:url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMy4yMDJsMy44MzkgNC43OThoLTcuNjc4bDMuODM5LTQuNzk4em0wLTMuMjAybC04IDEwaDE2bC04LTEwem0zLjgzOSAxNmwtMy44MzkgNC43OTgtMy44MzktNC43OThoNy42Nzh6bTQuMTYxLTJoLTE2bDggMTAgOC0xMHoiLz48L3N2Zz4=");
    background-repeat:no-repeat;
    background-position:center right;
    background-size:14px;
}
div.tm-sorter .sortable:hover{
    background-color:#6c9dc6;
}
div.tm-sorter .sortable.sort-up{
    background-color:#6c9dc6;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMGwtOCAxMGgxNmwtOC0xMHptMy44MzkgMTZsLTMuODM5IDQuNzk4LTMuODM5LTQuNzk4aDcuNjc4em00LjE2MS0yaC0xNmw4IDEwIDgtMTB6Ii8+PC9zdmc+");
}
div.tm-sorter .sortable.sort-down{
    background-color:#6c9dc6;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNMTIgMy4yMDJsMy44MzkgNC43OThoLTcuNjc4bDMuODM5LTQuNzk4em0wLTMuMjAybC04IDEwaDE2bC04LTEwem04IDE0aC0xNmw4IDEwIDgtMTB6Ii8+PC9zdmc+");
}
/* Filter A */
tr.tm-filter-row {
    position:relative;
    
    overflow:hidden;
}
tr.tm-filter-row td {
    position:relative;
    padding:0 !important;
    overflow:hidden;
}
tr.tm-filter-row div.tm-input-div {
    position:relative;
    height:100%;
    width:100%;
    margin:0;
    overflow:hidden;
}
tr.tm-filter-row div.tm-input-div input{
    overflow:hidden;
    height:100%;
    width:100%;
    border:none;
    padding-left:10px;
    padding-right:25px;
    background-color:transparent;
}
tr.tm-filter-row span.tm-custom-checkbox {
    position:absolute;
    top:0;
    right:0;
    vertical-align: middle;
    width:16px;
    height:16px !important;;
    background-color:#ccc;
}
tr.tm-filter-row span.tm-custom-checkbox label {
    width:12px;
    height:12px;
    left:2px;
    top:2px;
    background-color:#f0f0f0;
}
tr.tm-filter-row span.tm-custom-checkbox input[type=checkbox]:checked + label {
	left: 2px;
	background: #666;
}



/* Fliter B */
.tm-filter-add-button {
    background-color:#ccc;
    padding:0px 3px;
    border-radius:5px;
    width:30px;
    text-align: center;
    font-weight:bold;
    font-size:20px;
    color:white;
    cursor:pointer;
    transition:0.1s;
}
.tm-filter-add-button:hover {
    background-color:#666;
}
div.tm-filter-wrap {
    white-space: nowrap;
    overflow:hidden;
    margin-right:17px;
    height:40px;
    line-height: 30px;
    padding:5px;
    position:relative;
    z-index:1;
      -webkit-box-shadow: 0px 3px 4px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 4px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 4px -3px rgba(0,0,0,0.75);
}
div.tm-filter-wrap span {
    display: inline-block;
    height:100%;
    transition:0.2s;
    overflow:hidden;
}
.tm-filter-loaded {
    max-width:90%;
}
.tm-filter-instance {
    width:30px;
    height:30px;
    background-color:#ccc;
    padding:0 3px;
    border-radius:5px;
    text-align: center;
    
    font-size:small;
    cursor:pointer;
    transition:0.1s;
    position:relative;
    margin-right:2px;
}

.tm-filter-instance:before {
    content: 'f';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#ccc;
}
.tm-filter-instance:hover:before {
    background-color:#666;
    color:white;
}

.tm-filter-instance.tm-open {
    width:300px;
    background-color:#666;
}

.tm-filter-instance.tm-open:before {
    display:none;
}
.tm-filter-instance > * {
    margin:3px;
    height:22px;
    
    vertical-align: middle;
}
.tm-filter-instance select {
    max-width:100px;
    margin-right:0;
    font-size:small;
}
.tm-filter-instance input[type=text] {
    width:130px;
    padding:3px;
    border:1px solid #666;
    font-size:small;
}

.tm-custom-checkbox {
	width: 40px;
	height: 20px !important;
	background: #ccc;
	border-radius: 50px;
	position: relative;
    display: inline-block;
    overflow:hidden;
    padding:0;
    margin:3px;
    cursor:pointer;
}
/**
 * Create the pill to click
 */
.tm-custom-checkbox label {
	display: block;
	width: 14px;
	height: 14px;
	border-radius: 50px;

	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 3px;
	z-index: 1;
	left: 4px;
	background: #444;
}
.tm-custom-checkbox input {
    visibility:hidden;
}
/**
 * Create the checkbox event for the label
 */
.tm-custom-checkbox input[type=checkbox]:checked + label {
	left: 22px;
	background: #26ca28;
}