.tablemodify-container{
  overflow:hidden;
  display:block;
  position:relative;
  height:200px;
}

.tablemodify-container * {
  box-sizing: border-box;
}
.tablemodify-head-wrap, .tablemodify-body-wrap, .tablemodify-foot-wrap{
  position:absolute;
}
.tablemodify-head-wrap{
  height:auto;
  overflow:hidden;
  top:0;
  left:0;
  right:0;
  border-bottom:1px solid #ccc;
}
.tablemodify-foot-wrap{
  height:auto;
  overflow:hidden;
  left:0;
  right:0;
  bottom:0;
}
.tablemodify-body-wrap{
  overflow: scroll;
  left:0;
  right:0;
}
.tablemodify-head{
  height:100%;
  box-sizing:border-box;
}
.tablemodify-body{
  min-width: 100%;
}
.tablemodify-foot{
  height:100%;
  box-sizing:border-box;
}
.tablemodify-body thead{
  visibility: hidden;
}
.tablemodify-corner{
  position:absolute;
  right:0;
  box-sizing:content-box;

  border:1px solid #ccc;
  background-color: lightblue;
}
.top-right{
  top:0px;
}
.bottom-right{
  bottom:0px;
}
