@baseColor: white;
@borderColor: #cccccc;

div.tm-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    border:1px solid #ccc;
    background-color:#F0F0F0;
    overflow:hidden;
    box-sizing:border-box;
    height:100%;

    * {
        box-sizing: border-box;
    }

    div.tm-head-wrap {
        overflow:hidden;
        z-index:1;
        table.tm-head {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none;   /* Chrome/Safari/Opera */
            -khtml-user-select: none;    /* Konqueror */
            -moz-user-select: none;      /* Firefox */
            -ms-user-select: none;       /* Internet Explorer/Edge */
            user-select: none;           /* Non-prefixed version, currently
                                         not supported by any browser */

            thead tr > *, table.tm-body thead tr > *, table.tm-foot tfoot tr > *  {
             position:relative;
            }

        }
    }
    div.tm-body-wrap {
        -ms-flex:1;
        flex:1;
        overflow-x:auto;
        overflow-y:scroll;
        z-index:0;
        table.tm-body {
            width:100%;
            min-width: 100%;
            border-style:hidden;
        }
    }
    div.tm-foot-wrap {
        overflow-x: auto;
        overflow-y: hidden;
        z-index:1;

        table.tm-foot {
            tfoot tr > * {
                border-bottom:none;
            }
        }

    }


    &.tm-fixed {
        table.tm-body tfoot td {
            padding-top:0 !important;
            padding-bottom:0 !important;
            position:relative;
        }

        table.tm-body tfoot td div {
            position: absolute;
            overflow: hidden;
            top:0;
            left:0;
            bottom:0;
            right:0;
        }

    }

    /*
        styles for filter plugin
    */
    &.tm-filter {

        thead:hover > tr.tm-filter-row {
            height:30px;
        }

        tr.tm-filter-row {
            position:relative;
            overflow:hidden;
            height:0;

            td {

                position:relative;
                padding:0 !important;
                overflow:hidden;
                height:0;

                div.tm-input-div {

                    position:absolute;
                    overflow:hidden;
                    width:100%;
                    height:30px;
                    top:0;

                    input {
                        border:none;
                        width:100%;
                        height:100%;
                    }

                    input[type=text] {
                        overflow:hidden;
                        padding-left:10px;
                        padding-right:25px;
                        border:none;
                        background-color:transparent;
                    }

                    &:nth-last-child(1) > input {
                        padding-right: 10px;
                    }
                }

                span.tm-custom-checkbox {
                    position:absolute;
                    top:0;
                    right:0;
                    width:30px;
                    height:100%;
                    background-color:transparent;
                    vertical-align:middle;
                    text-align: center;

                    input[type=checkbox] {
                        visibility: hidden;

                        &:checked + label {
                            background: #666;
                        }
                    }
                    /* styles of the dot hovering the original checkbox */
                    label {
                        position:absolute;
                        border-radius:50px;
                        width:18px;
                        height:18px;
                        top:5px;
                        right:5px;
                        background-color: @baseColor;
                        border:3px solid @borderColor;
                        transition:0.2s;
                        cursor:pointer;
                    }
                }
            }
        }
    }


}
