@baseColor: white;
@borderColor: #cccccc;

div.tm-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color:#F0F0F0;
    overflow:hidden !important;
    box-sizing:border-box;
    height:100%;
    //position:relative;

    * {
        box-sizing: border-box;
    }

    div.tm-head-wrap {
        overflow:hidden;
        z-index:1;
        position:relative;
        table.tm-head {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none;   /* Chrome/Safari/Opera */
            -khtml-user-select: none;    /* Konqueror */
            -moz-user-select: none;      /* Firefox */
            -ms-user-select: none;       /* Internet Explorer/Edge */
            user-select: none;           /* Non-prefixed version, currently
                                         not supported by any browser */

            thead tr > *, table.tm-body thead tr > *, table.tm-foot tfoot tr > *  {
             position:relative;
            }

        }
    }
    div.tm-body-wrap {
        -ms-flex:1;
        flex:1;
        overflow-x:auto;
        overflow-y:scroll;
        z-index:0;
        table.tm-body {
            width:100%;
            min-width: 100%;
            border-style:hidden;

            tbody {
                transition: 0.1s;
            }
        }
    }
    div.tm-foot-wrap {
        overflow-x: auto;
        overflow-y: hidden;
        z-index:1;

        table.tm-foot {
            tfoot tr > * {
                border-bottom:none;
            }
        }

    }


    &.tm-fixed {
        table.tm-body tfoot td {
            padding-top:0 !important;
            padding-bottom:0 !important;
            position:relative;
        }

        table.tm-body tfoot td div {
            position: absolute;
            overflow: hidden;
            top:0;
            left:0;
            bottom:0;
            right:0;
        }

		div.tm-head-rightCorner {
			position:absolute;
			top:0;
			height:100%;
			background-color: #F0F0F0;
			z-index:0;
			border-left:1px solid white;
		}


    }

    /*
        styles for filter plugin
    */
    &.tm-filter {

        thead:hover > tr.tm-filter-row {
            height:30px;
        }

        tr.tm-filter-row {
            position:relative;
            overflow:hidden;
            height:0;

            td {

                position:relative;
                padding:0 !important;
                overflow:hidden;
                height:0;

                div.tm-input-div {

                    position:absolute;
                    overflow:hidden;
                    width:100%;
                    height:30px;
                    top:0;

                    input {
                        border:none;
                        width:100%;
                        height:100%;
                    }

                    input[type=text] {
                        overflow:hidden;
                        padding-left:10px;
                        padding-right:25px;
                        border:none;
                        background-color:transparent;
                    }

                    &:nth-last-child(1) > input {
                        padding-right: 10px;
                    }
                }



                div.tm-filter-option-icon {
                	position:absolute;
                	top:0;
                	right:0;
                	width:30px;
                	height:30px;
                	background-position: 7px center;
                	background-repeat:no-repeat;
                	background-size:80%;
                	cursor:pointer;
                	//background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAeAAAAHgD4T+E9AAAAZklEQVRIx+3SsQ2AMAxE0W/EGNBkHBaBkWARxkmTQUxDQYfioEhI9yo3PkvWgYh8xCJLKaXF3XcAM9tyzmdtxhg57O4HMD3muTZjaHlXi9BhM1uBApR7lldqdTdqdTdqdTdqtcj/XRQ/NhlQFKEDAAAAAElFTkSuQmCC');
                	background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAeAAAAHgD4T+E9AAAAbElEQVRIx2NgGAWjYBRQCTCSo2ni0jVe//8zzWBgYGBgZPyXkR8dso1UM1jIsfj/f6aZDAwMMkhsWVLNYKIkuCgBZFnMyPgvnYGB4TEDA8NjKHsUEASjqZpuYDRV0w2Mpmq6gdFUPQpGwdAHAKhxNhlin4HHAAAAAElFTkSuQmCC');
                	&.tm-filter-active {
                		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAeAAAAHgD4T+E9AAAAZUlEQVRIx2NgGAWjYBRQCTCSoymldIMXw3+GGVATMuZ0B2wj1QwWspz7n2EmAwODDBJbllQjmMgOKwoBeRYzMqQzMDA8ZmBgeAxljwKCYDRV0w2Mpmq6gdFUTTcwmqpHwSgY+gAAhG4kGUKc1KYAAAAASUVORK5CYII=');
                	}
                }

				div.tm-filter-optionpanel {
					position:absolute;
					border:1px solid #ccc;
					border-top:none;
					top:30px;
					left:0;
					right:0;
					height:auto;
					min-width:250px;
					background-color:white;
					display:none;
					z-index:999;
					overflow:hidden;
					text-align:left;

					.tm-filter-optionpanel-title {
						height:20px;
						line-height:20px;
						padding:0px 4px;

						margin-right:20px;
						float:left;
						overflow:hidden;
					}
                    /*
					.tm-filter-optionpanel-closeButton {
						cursor:pointer;
						float:right;
						width:20px;
						height:20px;
						border-left:1px solid #ccc;

						background-repeat:no-repeat;
						background-position:center;
						background-size:100%;
						background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAeAAAAHgD4T+E9AAAAsklEQVRIx+2TTQ7CIBBGP/Q2HqbuTMAj2Du0vYKhR7AkrMT70XHRNhkXJBR/FnXekgzzmMkHIAjC39K70PQuNKX3VamUgHZu0F70sfu6mEnjfLQvka8ScymBzlMDdSuRZ4tfJiVlalN5ALDD4wRFw1p5ljglXSiR73LE4/TASAp6kfJU16bypKABxLEwsEmu/n7gG7AukHWB+JfiNR9ZdXLtE5Lqjaaa87NUv1MjCMJ2eAKiw5EQ45kdIgAAAABJRU5ErkJggg==');
					}*/

					.tm-filter-optionpanel-content {
						clear:both;
						border-top:1px solid #ccc;
						padding:4px;
						overflow:hidden;

						span {
							display:inline-block;
						}

						span:nth-child(2) {

						}

						span:nth-child(3) {

							input {
								width:100%;
							}

						}

					}

					.tm-filter-optionpanel-actionButton {
						width:20px;
						height:20px;
						cursor:pointer;
						float:right;
						background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAeAAAAHgD4T+E9AAAA10lEQVRIx+3WPQ6CMBiA4bfigfQEbBo9Ba5KnHRkYsQJ0VXPoRujLtzDeIY6aCIY/j5QXPquhT60aQAwmX6UKhpwvEB/Azj661yj968V90s2YwE6em3L8uCvozoTOt5mnr6v6DqraCCJT9eBPb4BU2AytEf3JD5fJGjZw1plE0lwCVoJ18WlaC24Cm+CguBUH/3VHpQLKA3b94jeAUqCiuA3np8EFcPfzMAGzksDzLzA7RhWLqA1hG1wMZx6kaAh7HDFWbxT+ANv9KfS6lS3xVv3/EKZTNkeUjtw1IsGzB0AAAAASUVORK5CYII=');
						background-size: 100%;
					}

				}
            }
        }
    }

	&.tm-filter-open {

		div.tm-head-wrap {

		}

		tr.tm-filter-row {
			height:30px;
            overflow: visible;
			td {

                div.tm-filter-optionpanel {
                    display:none;
                }

                &.tm-filter-optionpanel-open {
                    overflow: visible;

                    div.tm-filter-optionpanel {
                        display:block;
                    }

                    div.tm-filter-option-icon {
                        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMAAABIAAAASABGyWs+AAAACXZwQWcAAAAeAAAAHgD4T+E9AAAAsklEQVRIx+2TTQ7CIBBGP/Q2HqbuTMAj2Du0vYKhR7AkrMT70XHRNhkXJBR/FnXekgzzmMkHIAjC39K70PQuNKX3VamUgHZu0F70sfu6mEnjfLQvka8ScymBzlMDdSuRZ4tfJiVlalN5ALDD4wRFw1p5ljglXSiR73LE4/TASAp6kfJU16bypKABxLEwsEmu/n7gG7AukHWB+JfiNR9ZdXLtE5Lqjaaa87NUv1MjCMJ2eAKiw5EQ45kdIgAAAABJRU5ErkJggg==');
                    }
                }
			}
		}
	}
}
